<h1>In a Nutshell...</h1>
<%= form_tag(multipart: true, method: :patch) do %>
  <%= file_field_tag :picture %>
  <%= text_field_tag :content %>
  <div class='text-center'>
    <%= submit_tag('Upload') %>
  </div>
<% end %>
