Welcome <%= @user.first_name %>
<br>
<% @nuts.each do |nut| %>
  <h2><%= link_to nut.user.first_name, nut.user %></h2> <br>
  <% nut.url.each do |image| %>
    <%= image_tag image, {height: 128} %>
  <% end %>
  <br>
<% end %>
