<h1>In a Nutshell...</h1>
<%= form_tag({action: :create}, multipart: true) do %>
  <%= file_field_tag :picture %>
  <%= text_area_tag :content %>
  <div class='text-center'>
    <%= submit_tag('Upload') %>
  </div>
<% end %>
