<div class="cover-pic">
<div class="cover-form">

<span class="logo">Nutshell</span> <br>
<span class="nut_logo"><%= image_tag "acorn-dark-green.png" %></span> <br>


<%= render "sign_in" %>
<button class="login">
  <%= link_to 'Sign Up!', new_user_path %> <br>
</button>



</div>

</div>
